.App {
  text-align: center;
}

h1 {
  color: white;
}
body {
  background-color: #191414;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px; 
  /* height: 100%;
  width: 100%; */
}

.interface {
  text-align: center;
  background-color: #444444;
  width: 50%;
  height: 400px;
}
.result {
  color: #1ED760;
  font-size: 40px;
}
